
.wy-table-responsive table td {
	white-space: normal;
	max-width: 20em;

}

.text-center {
	text-align: center;
}

.big-margin-bottom {
	margin-bottom: 5em;
}

@keyframes attention-btn {
	0%, 40%, 80%, 100% {
		transform: scale(1);
	}
	20%, 60% {
		transform: scale(1.15);
	}
}
.attention-btn {
	animation: attention-btn 1000ms ;
	animation-delay: var(--animation-delay, 0.2s);
	font-size: 1.2em;
}

a.btn:hover,
a.btn:focus,
a.btn {
	/* Higher priority than Material */
	color: #fff;
}
.btn {
	margin: 0.3em;
	display: inline-block;
	border-radius: 0.1em;
	line-height: normal;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;
	padding: 0.4em 0.8em 0.45em;
	color: #fff;
	background-color: #27ae60;
	border: 0.01em solid rgba(0,0,0,.1);
	transition: all .1s linear;
}

.btn-primary {
	background-color: #27ae60;
}
.btn-primary:hover,
.btn-primary:focus {
	background-color: #2cc36b;
}

.btn-secondary {
	background-color: #2760ae;
}
.btn-secondary:hover,
.btn-secondary:focus {
	background-color: #2c6bc3;
}

.btn-tertiary {
	background-color: #ae2760;
}
.btn-tertiary:hover,
.btn-tertiary:focus {
	background-color: #c32c6b;
}

.twemoji {
	width: 1em;
}

blockquote {
	border-left: 0.25em solid #ddd;
	padding: 0 1em;
	color: #777;
}


/* The Cake Is A Lie! */
